<%= form_for([@article, @article.comments.build]) do |f| %>


  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <!--A basic CAPTCHA. Only actually create the comment if the value of answer equals int1+int2. -->
  <p>
    <strong><%= f.label :captcha %></strong><br>
    <%= $int1 %> + <%= $int2 %> = ?<br>
    <%= number_field_tag('answer', 1, max:99)%>
  </p>

  <p>
      <%= f.submit %>
  </p>
<% end %>